# [Bangkok open data](https://data.bangkok.go.th/dataset/)

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* github: https://github.com/prasertcbs/
* kaggle: https://www.kaggle.com/prasertk/
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [ ]:
import requests
import pandas as pd

In [10]:
url="https://data.bangkok.go.th/dataset/52a5da69-c086-425a-bcb3-fccfadd824f5/resource/1aecc616-c570-4efb-9398-7dd4e39356b2/download/env_5ec8dad38033f.csv"
df=pd.read_csv(url)
df

,id,station_area,pm10_min,pm10_max,pm10_overstd,pm10_count,no2_min,no2_max,no2_overstd,no2_count,...,o38h_min,o38h_max,o38h_overstd,o38h_count,pm2_5_min,pm2_5_max,pm2_5_overstd,pm2_5_count,adddate,updatedate
0,6,ค่ามาตรฐาน,-,-,120,-,-,-,170,-,...,-,-,70,-,-,-,50,-,2020-05-23,2020-09-15
1,5,สรุป,13,185,59,1434,0,158.4,0,33142,...,0,79.4,9,8665,9,76,16,354,2020-05-23,2020-09-15
2,4,ราชเทวี,18,125,1,354,2,100,0,8372,...,0,79.4,9,8665,9,76,16,354,2020-05-23,2020-09-15
3,3,ราษฎร์บูรณะ,36,165,16,361,0,116.2,0,8355,...,-,-,-,-,-,-,-,-,2020-05-23,2020-09-15
4,2,พระโขนง,13,155,14,362,0,158.4,0,8286,...,-,-,-,-,-,-,-,-,2020-05-23,2020-09-15
5,1,ดินแดง,29,185,28,357,0,136.6,0,8129,...,-,-,-,-,-,-,-,-,2020-05-23,2020-10-15

In [5]:
url="https://data.bangkok.go.th/dataset/d7139135-3988-40fa-8703-d546eb480960/resource/70c4f872-6e4b-42db-b8c4-474ef29e0245/download/wq-4-wqi-..xlsx"
df=pd.read_excel(url)
df

   year  No.       Province         แหล่งน้ำ  WQI score  Type
0  2561   64  กรุงเทพมหานคร  แม่น้ำเจ้าพระยา         35     4
1  2562   64  กรุงเทพมหานคร  แม่น้ำเจ้าพระยา         36     4
2  2563   64  กรุงเทพมหานคร  แม่น้ำเจ้าพระยา         38     4

In [17]:
def bkkapi(resource_id):
	url=f"https://data.bangkok.go.th/api/3/action/datastore_search?resource_id={resource_id}"
	r=requests.get(url)
	j=r.json()
	# j['result']['records']
	df=pd.DataFrame(j['result']['records'])
	return df

# https://data.bangkok.go.th/dataset/65eb2ee6-efc6-4045-8e3e-ef451b844953/resource/95bd1379-177e-4dd8-9374-c0ce307bede9/download/-..-64.csv
dt=bkkapi("95bd1379-177e-4dd8-9374-c0ce307bede9")
dt

,_id,drag_g_id,dcode,scode,community_name,num_volunteers,population,amount_waste_kg,general_waste_kg,organic_waste_kg,toxic_waste_kg,infectious_waste_kg,recycle_waste_kg,sum_month,sum_year,remark
0,1,1025001,1025,102504,ชุมชนวัดดาวดึงษาราม,2,2095,36266,17408,10880,725,0,7253,7,2564,0
1,2,1025002,1025,102501,ชุมชนวัดเทพนารี,1,990,20425,9804,6128,409,0,4085,7,2564,0
2,3,1025003,1025,102502,ชุมชนเติมสุข,1,440,20115,9655,6035,402,0,4023,7,2564,0
3,4,1025004,1025,102502,ชุมชนริมคลองบางพลัด,1,534,25548,12263,7664,511,0,5110,7,2564,0
4,5,1025005,1025,102502,ชุมชนวัดฉัตรแก้วจงกลนี,1,1498,19215,9223,5765,384,0,3843,7,2564,0
5,6,1025006,1025,102502,ชุมชนแสงทอง,1,1922,37914,18199,11374,758,0,7583,7,2564,0
6,7,1025007,1025,102501,ชุมชนสวนปรก,1,276,18900,9072,5670,378,0,3780,7,2564,0

## read CSV
- ข้อมูลสถิติการจัดเก็บภาษีเปรียบเทียบยอดประมาณการ
  -   https://data.bangkok.go.th/dataset/statvat0864/resource/5cd749fe-11a8-457d-b88f-2151ac33fe27

In [ ]:
url = "https://data.bangkok.go.th/dataset/c051d4a7-8418-49c1-86b0-5a5ea8511c33/resource/5cd749fe-11a8-457d-b88f-2151ac33fe27/download/fin_600ea1e3c81a7.csv"
df = pd.read_csv(url)
df

## read Excel

-   รายงานปริมาณน้ำที่ผ่านการบำบัดแล้วกลับมาใช้ประโยชน์ (พ.ศ.2561-2563)
    -   https://data.bangkok.go.th/dataset/kpisbangkok_1100/resource/272b8fbc-6146-40d6-be7c-335ea30c2f7e

In [ ]:
url = "https://data.bangkok.go.th/dataset/e53ef05f-32b2-4b06-b800-cad2702f426e/resource/272b8fbc-6146-40d6-be7c-335ea30c2f7e/download/wq-2-reused_water-2561-2563.xlsx"
print(url)
df = pd.read_excel(url)
df[:5]

In [ ]:
def download(url):
	if (url[-4:] == ".xls") or (url[-5:] == ".xlsx"):
		df = pd.read_excel(url)
	else:
		df = pd.read_csv(url)
	return df

# url = "https://data.bangkok.go.th/dataset/c051d4a7-8418-49c1-86b0-5a5ea8511c33/resource/5cd749fe-11a8-457d-b88f-2151ac33fe27/download/fin_600ea1e3c81a7.csv"
url = "https://data.bangkok.go.th/dataset/e53ef05f-32b2-4b06-b800-cad2702f426e/resource/272b8fbc-6146-40d6-be7c-335ea30c2f7e/download/wq-2-reused_water-2561-2563.xlsx"
df=download(url)
df[:5]

## CKAN API
-   รายงานปริมาณน้ำที่ผ่านการบำบัดแล้วกลับมาใช้ประโยชน์ (พ.ศ.2561-2563)
    -   https://data.bangkok.go.th/dataset/kpisbangkok_1100/resource/272b8fbc-6146-40d6-be7c-335ea30c2f7e

In [ ]:
# resource_id="5cd749fe-11a8-457d-b88f-2151ac33fe27"
resource_id = "272b8fbc-6146-40d6-be7c-335ea30c2f7e"
url = f"https://data.bangkok.go.th/api/3/action/datastore_search?resource_id={resource_id}"
print(url)
r = requests.get(url)

j = r.json()
# j
j["result"]["records"]

In [ ]:
df = pd.DataFrame(j["result"]["records"])
df

In [ ]:
df.loc[:, 'Year':]