# data.go.th

web: https://data.go.th/

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* github: https://github.com/prasertcbs/
* kaggle: https://www.kaggle.com/prasertk/
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

<a href=https://youtu.be/sKGYvSm28qY><img src=https://i.ytimg.com/vi/sKGYvSm28qY/mqdefault.jpg width=560 width=315/><p>Play YouTube Video</p></a>

In [1]:
import pandas as pd
import requests

In [2]:
print(f"pandas version:  {pd.__version__}")
print(f"requests version: {requests.__version__}")

pd.Timestamp.now()
# pd.Timestamp.now().strftime('%Y-%m-%d')

pandas version:  1.4.2
requests version: 2.28.0

Timestamp('2022-07-13 05:48:50.328872')

# read CSV
* https://data.go.th/dataset/mrta-crmk

In [3]:
url = "https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd/resource/a542d7d4-bc27-4c03-81ef-bef0a5213210/download/-..-65.csv"
df = pd.read_csv(url)
df

,เดือน,ปี,โครงการ,จำนวนผู้โดยสารรวม,จำนวนผู้โดยสารเฉลี่ยรายวัน,จำนวนผู้โดยสารเฉลี่ยรายวันธรรมดา,จำนวนผู้โดยสารเฉลี่ยรายวันหยุด
0,มกราคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,"8,613,608","277,858","316,029","184,553"
1,กุมภาพันธ์,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,"8,212,613","293,308","329,204","217,526"
2,มีนาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,"8,123,428","262,046","287,668","208,239"
3,เมษายน,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,"6,990,396","233,013","285,863","153,738"
4,พฤษภาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,"7,265,594","234,374","276,809","175,618"
...,...,...,...,...,...,...,...
157,มกราคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,949885,30641,36093,20729
158,กุมภาพันธ์,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,980551,35020,40477,23499
159,มีนาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,949885,32684,36292,22313
160,เมษายน,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,"903,899","30,130","37,815","20,080"
161,พฤษภาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1198303,38655,47597,26274

# read CSV (TIS-620, cp874, Windows-874)
* https://data.go.th/dataset/bangkok-fir-may-2565

In [14]:
url = "https://data.go.th/dataset/31170cfe-eaf5-4583-83aa-000e4de39064/resource/0899889b-ae8e-44d7-a2ba-da81bcdb24a9/download/flightrule_05_2022.csv"

# df = pd.read_csv(url)

# df = pd.read_csv(url, encoding="iso8859-11")
df = pd.read_csv(url, encoding="tis-620")
# df = pd.read_csv(url, encoding="cp874")
# df = pd.read_csv(url, encoding="thai")

df

  flight_rule  เที่ยวบินรายเดือน  เที่ยวบินสะสม  เฉลี่ยต่อวัน  การเปลี่ยนแปลง
0         VFR               5643          47737        225.17            8.31
1         IFR              34309         224719          1.00           18.34
2       TOTAL              39952         272456        226.17           26.65

# read excel from URL
* https://opendata.data.go.th/dataset/mrta-crmk

In [15]:
url = "https://data.go.th/dataset/fd781923-6c64-4cbc-90b8-83ad77c96ecd/resource/8364f303-8f2f-4693-aa0c-2c96dc7cb075/download/-..-65.xlsx"
df = pd.read_excel(url)
df

,เดือน,ปี,โครงการ,จำนวนผู้โดยสารรวม,จำนวนผู้โดยสารเฉลี่ยรายวัน,จำนวนผู้โดยสารเฉลี่ยรายวันธรรมดา,จำนวนผู้โดยสารเฉลี่ยรายวันหยุด
0,มกราคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8613608,277858,316029,184553
1,กุมภาพันธ์,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8212613,293308,329204,217526
2,มีนาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,8123428,262046,287668,208239
3,เมษายน,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,6990396,233013,285863,153738
4,พฤษภาคม,2557,โครงการรถไฟฟ้ามหานคร สายเฉลิมรัชมงคล,7265594,234374,276809,175618
...,...,...,...,...,...,...,...
166,มกราคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,949885,30641,36093,20729
167,กุมภาพันธ์,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,980551,35020,40477,23499
168,มีนาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1013287,32684,36292,22313
169,เมษายน,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,903899,30130,37815,20080
170,พฤษภาคม,2565,โครงการรถไฟฟ้ามหานคร สายฉลองรัชธรรม,1198303,38655,47597,26274

In [16]:
df.to_csv('mrt.csv', index=False)
df.to_excel('mrt.xlsx')

## Data API

In [ ]:
from getpass import getpass
api_key = getpass()

- ข้อมูลโรงแรมที่เป็นมิตรกับสิ่งแวดล้อม (Green Hotel)
  * https://opendata.data.go.th/dataset/db0103-002
- จำนวนคนทำงานในที่พักแรม
  * https://opendata.data.go.th/dataset/os_17_00010

In [ ]:
# Request headers
headers = {
    "api-key": api_key,
}

params = {"resource_id": "6c865fd0-93e4-4642-8e57-7063b3162896", "limit": 10}
r = requests.get(
    "https://opend.data.go.th/get-ckan/datastore_search", params, headers=headers
)
if r.ok:
    j = r.json()
    records = j["result"]["records"]
df = pd.DataFrame(records)
df

# functions

In [ ]:
import requests
import pandas as pd

def gov_open_data(api_key, resource_id: str, nrows=10000):
    """
    >>> gov_open_data("your api-key", "ce7f4a78-71db-4754-9084-edca971903bd", nrows=3)
    """
    # Request headers
    headers = {
        "api-key": api_key,
    }

    params = {"resource_id": resource_id, "limit": nrows}
    r = requests.get(
        "https://opend.data.go.th/get-ckan/datastore_search", params, headers=headers
    )

    j = r.json()
    records = j["result"]["records"]
    return pd.DataFrame(records)

In [ ]:
# ข้อมูลพิกัด LAT/LONG ที่ตั้งตำบล
# https://data.go.th/dataset/item_c6d42e1b-3219-47e1-b6b7-dfe914f27910
gov_open_data(api_key, "48039a2a-2f01-448c-b2a2-bb0d541dedcd", nrows=3)