# pandas: basic regular expression

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [49]:
from IPython.display import YouTubeVideo
YouTubeVideo('KTGvdg9c_qU', width=720, height=405)

In [2]:
import pandas as pd

# pd.set_option('display.max_rows', 50)

import warnings
warnings.filterwarnings('ignore')

In [3]:
print(f'pandas version: {pd.__version__}')

pd.Timestamp.now()

pandas version: 1.1.3

Timestamp('2020-12-06 10:24:49.507747')

In [4]:
url='https://github.com/prasertcbs/basic-dataset/raw/master/IMDBtop1000.csv'
df=pd.read_csv(url, usecols=['Title', 'Actors'])
df

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [5]:
df[df['Title'].str.contains('man')] # case sensitive

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
263,Nymphomaniac: Vol. I,"Charlotte Gainsbourg, Stellan Skarsgård, Stacy..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
611,Toni Erdmann,"Sandra Hüller, Peter Simonischek, Michael Witt..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

In [6]:
df[df['Title'].str.contains('Man')]

,Title,Actors
21,Manchester by the Sea,"Casey Affleck, Michelle Williams, Kyle Chandle..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."

In [7]:
df[df['Title'].str.contains(r'man', case=False)]

,Title,Actors
21,Manchester by the Sea,"Casey Affleck, Michelle Williams, Kyle Chandle..."
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
263,Nymphomaniac: Vol. I,"Charlotte Gainsbourg, Stellan Skarsgård, Stacy..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
611,Toni Erdmann,"Sandra Hüller, Peter Simonischek, Michael Witt..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

## starts with

In [8]:
df[df['Title'].str.contains(r'^man', case=False)]

                     Title                                             Actors
21   Manchester by the Sea  Casey Affleck, Michelle Williams, Kyle Chandle...
294           Man of Steel  Henry Cavill, Amy Adams, Michael Shannon, Dian...
794         Man on a Ledge  Sam Worthington, Elizabeth Banks, Jamie Bell, ...
824               Man Down  Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ...

## ends with

In [9]:
df[df['Title'].str.contains(r'man$', case=False)]

,Title,Actors
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."

## word boundary

In [10]:
df[df['Title'].str.contains(r'man', case=False)]

,Title,Actors
21,Manchester by the Sea,"Casey Affleck, Michelle Williams, Kyle Chandle..."
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
263,Nymphomaniac: Vol. I,"Charlotte Gainsbourg, Stellan Skarsgård, Stacy..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
611,Toni Erdmann,"Sandra Hüller, Peter Simonischek, Michael Witt..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

## raw string

In [11]:
df[df['Title'].str.contains('man\b', case=False)] # case insenstive comparison

Empty DataFrame
Columns: [Title, Actors]
Index: []

In [12]:
df[df['Title'].str.contains('man\\b', case=False)] # case insenstive comparison

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

In [13]:
df[df['Title'].str.contains(r'man\b', case=False)] # case insenstive comparison

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

In [14]:
df[df['Title'].str.contains(r'\bman$', case=False)] # r' (raw string)

                      Title                                             Actors
179                 Ant-Man  Paul Rudd, Michael Douglas, Corey Stoll, Evang...
203                Iron Man  Robert Downey Jr., Gwyneth Paltrow, Terrence H...
368  The Amazing Spider-Man  Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...
378          Swiss Army Man  Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi...
593           She's the Man  Amanda Bynes, Laura Ramsey, Channing Tatum,Vin...
815              Inside Man  Denzel Washington, Clive Owen, Jodie Foster,Ch...

In [15]:
df[df['Title'].str.contains(r'^man', case=False)]

                     Title                                             Actors
21   Manchester by the Sea  Casey Affleck, Michelle Williams, Kyle Chandle...
294           Man of Steel  Henry Cavill, Amy Adams, Michael Shannon, Dian...
794         Man on a Ledge  Sam Worthington, Elizabeth Banks, Jamie Bell, ...
824               Man Down  Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ...

In [16]:
df[df['Title'].str.contains(r'^man\b', case=False)]

              Title                                             Actors
294    Man of Steel  Henry Cavill, Amy Adams, Michael Shannon, Dian...
794  Man on a Ledge  Sam Worthington, Elizabeth Banks, Jamie Bell, ...
824        Man Down  Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ...

In [17]:
df[df['Title'].str.contains(r'man\b', case=False)] # man + punctuation marks

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
65,Kingsman: The Secret Service,"Colin Firth, Taron Egerton, Samuel L. Jackson,..."
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
167,Woman in Gold,"Helen Mirren, Ryan Reynolds, Daniel Brühl, Kat..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
234,The Huntsman: Winter's War,"Chris Hemsworth, Jessica Chastain, Charlize Th..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
259,Norman: The Moderate Rise and Tragic Fall of a...,"Richard Gere, Lior Ashkenazi, Michael Sheen,Ch..."
260,Birdman or (The Unexpected Virtue of Ignorance),"Michael Keaton, Zach Galifianakis,Edward Norto..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."
924,Superman Returns,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja..."
936,The Human Centipede (First Sequence),"Dieter Laser, Ashley C. Williams, Ashlynn Yenn..."

In [18]:
df[df['Title'].str.contains(r'man\b$', case=False)]

,Title,Actors
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
391,The Gunman,"Sean Penn, Idris Elba, Jasmine Trinca, Javier ..."
564,Snow White and the Huntsman,"Kristen Stewart, Chris Hemsworth, Charlize The..."
570,The Other Woman,"Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."

In [19]:
df[df['Title'].str.contains(r'\bman\b', case=False)]

,Title,Actors
78,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp, Orlando Bloom, Keira Knightley, J..."
104,The Man from U.N.C.L.E.,"Henry Cavill, Armie Hammer, Alicia Vikander, E..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
294,Man of Steel,"Henry Cavill, Amy Adams, Michael Shannon, Dian..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
378,Swiss Army Man,"Paul Dano, Daniel Radcliffe, Mary Elizabeth Wi..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
593,She's the Man,"Amanda Bynes, Laura Ramsey, Channing Tatum,Vin..."
779,The Man Who Knew Infinity,"Dev Patel, Jeremy Irons, Malcolm Sinclair, Rag..."
794,Man on a Ledge,"Sam Worthington, Elizabeth Banks, Jamie Bell, ..."
815,Inside Man,"Denzel Washington, Clive Owen, Jodie Foster,Ch..."
824,Man Down,"Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ..."
870,En man som heter Ove,"Rolf Lassgård, Bahar Pars, Filip Berg, Ida Eng..."

## match one of a set of characters [aeiou]

In [20]:
# df[df['Title'].str.contains(r'[1234you]', case=False)]
df[df['Title'].str.contains(r'[1-4you]', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
7,Mindhorn,"Essie Davis, Andrea Riseborough, Julian Barrat..."
8,The Lost City of Z,"Charlie Hunnam, Robert Pattinson, Sienna Mille..."
...,...,...
994,Project X,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br..."
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."

In [21]:
df[df['Title'].str.contains(r'wom[ae]n$', case=False)]

                  Title                                             Actors
247  20th Century Women  Annette Bening, Elle Fanning, Greta Gerwig, Bi...
570     The Other Woman  Cameron Diaz, Leslie Mann, Kate Upton, Nikolaj...

## OR

In [22]:
df[df['Title'].str.contains(r'bat|spider|ant|iron', case=False)]

,Title,Actors
10,Fantastic Beasts and Where to Find Them,"Eddie Redmayne, Katherine Waterston, Alison Su..."
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
81,Captain Fantastic,"Viggo Mortensen, George MacKay, Samantha Isler..."
89,The Accountant,"Ben Affleck, Anna Kendrick, J.K. Simmons, Jon ..."
112,The Bad Batch,"Keanu Reeves, Jason Momoa, Jim Carrey, Diego Luna"
129,The Revenant,"Leonardo DiCaprio, Tom Hardy, Will Poulter, Do..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
204,Allegiant,"Shailene Woodley, Theo James, Jeff Daniels,Nao..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
256,Battleship,"Alexander Skarsgård, Brooklyn Decker, Liam Nee..."
264,Teenage Mutant Ninja Turtles: Out of the Shadows,"Megan Fox, Will Arnett, Tyler Perry, Laura Linney"
278,Everybody Wants Some!!,"Blake Jenner, Tyler Hoechlin, Ryan Guzman,Zoey..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
313,The Hobbit: The Battle of the Five Armies,"Ian McKellen, Martin Freeman, Richard Armitage..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
373,Wanted,"Angelina Jolie, James McAvoy, Morgan Freeman, ..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
471,Marie Antoinette,"Kirsten Dunst, Jason Schwartzman, Rip Torn, Ju..."
520,Anthropoid,"Jamie Dornan, Cillian Murphy, Brian Caspe, Kar..."
552,Fantastic Four,"Miles Teller, Kate Mara, Michael B. Jordan, Ja..."
571,Enchanted,"Amy Adams, Susan Sarandon, James Marsden, Patr..."
622,Antichrist,"Willem Dafoe, Charlotte Gainsbourg, Storm Ache..."
643,Frantz,"Pierre Niney, Paula Beer, Ernst Stötzner, Mari..."
657,Teenage Mutant Ninja Turtles,"Megan Fox, Will Arnett, William Fichtner, Noel..."
673,Green Lantern,"Ryan Reynolds, Blake Lively, Peter Sarsgaard,M..."
732,This Beautiful Fantastic,"Jessica Brown Findlay, Andrew Scott, Jeremy Ir..."
770,Quantum of Solace,"Daniel Craig, Olga Kurylenko, Mathieu Amalric,..."
814,Fantastic Mr. Fox,"George Clooney, Meryl Streep, Bill Murray, Jas..."
905,In Dubious Battle,"Nat Wolff, James Franco, Vincent D'Onofrio, Se..."
951,The Descendants,"George Clooney, Shailene Woodley, Amara Miller..."

In [23]:
df[df['Title'].str.contains(r'(bat|spider|ant|iron)man', case=False)]

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."

In [24]:
df[df['Title'].str.contains(r'(bat|spider|ant|iron)\s*man', case=False)]

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."

In [25]:
df[df['Title'].str.contains(r'(bat|spider|ant|iron)[\-\s]*man', case=False)]

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
253,The Amazing Spider-Man 2,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
368,The Amazing Spider-Man,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."

## group

In [26]:
df[df['Title'].str.contains(r'^bat|^spider|^iron|^ant', case=False)]

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
256,Battleship,"Alexander Skarsgård, Brooklyn Decker, Liam Nee..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
520,Anthropoid,"Jamie Dornan, Cillian Murphy, Brian Caspe, Kar..."
622,Antichrist,"Willem Dafoe, Charlotte Gainsbourg, Storm Ache..."

In [27]:
df[df['Title'].str.contains(r'^(bat|spider|iron|ant)', case=False)]

,Title,Actors
60,Batman v Superman: Dawn of Justice,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei..."
179,Ant-Man,"Paul Rudd, Michael Douglas, Corey Stoll, Evang..."
203,Iron Man,"Robert Downey Jr., Gwyneth Paltrow, Terrence H..."
256,Battleship,"Alexander Skarsgård, Brooklyn Decker, Liam Nee..."
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
450,Iron Man 2,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt..."
520,Anthropoid,"Jamie Dornan, Cillian Murphy, Brian Caspe, Kar..."
622,Antichrist,"Willem Dafoe, Charlotte Gainsbourg, Storm Ache..."

## \d for digit

In [28]:
df[df['Title'].str.contains(r'\d', case=False)]

,Title,Actors
39,5- 25- 77,"John Francis Daley, Austin Pendleton, Colleen ..."
111,12 Years a Slave,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi..."
113,300,"Gerard Butler, Lena Headey, David Wenham, Domi..."
114,Harry Potter and the Deathly Hallows: Part 2,"Daniel Radcliffe, Emma Watson, Rupert Grint, M..."
118,10 Cloverfield Lane,"John Goodman, Mary Elizabeth Winstead, John Ga..."
...,...,...
970,Texas Chainsaw 3D,"Alexandra Daddario, Tania Raymonde, Scott East..."
973,Scream 4,"Neve Campbell, Courteney Cox, David Arquette, ..."
975,My Big Fat Greek Wedding 2,"Nia Vardalos, John Corbett, Michael Constantin..."
986,Final Destination 5,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."

In [29]:
df[df['Title'].str.contains(r'[0-9]', case=False)]

,Title,Actors
39,5- 25- 77,"John Francis Daley, Austin Pendleton, Colleen ..."
111,12 Years a Slave,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi..."
113,300,"Gerard Butler, Lena Headey, David Wenham, Domi..."
114,Harry Potter and the Deathly Hallows: Part 2,"Daniel Radcliffe, Emma Watson, Rupert Grint, M..."
118,10 Cloverfield Lane,"John Goodman, Mary Elizabeth Winstead, John Ga..."
...,...,...
970,Texas Chainsaw 3D,"Alexandra Daddario, Tania Raymonde, Scott East..."
973,Scream 4,"Neve Campbell, Courteney Cox, David Arquette, ..."
975,My Big Fat Greek Wedding 2,"Nia Vardalos, John Corbett, Michael Constantin..."
986,Final Destination 5,"Nicholas D'Agosto, Emma Bell, Arlen Escarpeta,..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."

In [30]:
df[df['Title'].str.contains(r'\d{2}', case=False)]

                      Title                                             Actors
39                5- 25- 77  John Francis Daley, Austin Pendleton, Colleen ...
111        12 Years a Slave  Chiwetel Ejiofor, Michael Kenneth Williams, Mi...
113                     300  Gerard Butler, Lena Headey, David Wenham, Domi...
118     10 Cloverfield Lane  John Goodman, Mary Elizabeth Winstead, John Ga...
168                13 Hours  John Krasinski, Pablo Schreiber, James Badge D...
247      20th Century Women  Annette Bening, Elle Fanning, Greta Gerwig, Bi...
272          21 Jump Street   Jonah Hill, Channing Tatum, Ice Cube,Brie Larson
276          22 Jump Street  Channing Tatum, Jonah Hill, Ice Cube,Nick Offe...
423  300: Rise of an Empire  Sullivan Stapleton, Eva Green, Lena Headey, Ha...
472                    2012  John Cusack, Thandie Newton, Chiwetel Ejiofor,...
507    (500) Days of Summer  Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...
508                Movie 43  Emma Stone, Stephen Merchant, Richard Gere, Li...
616    2307: Winter's Dream  Paul Sidhu, Branden Coles, Arielle Holmes, Kel...
623         Friday the 13th  Jared Padalecki, Amanda Righetti, Derek Mears,...
671                Child 44  Tom Hardy, Gary Oldman, Noomi Rapace, Joel Kin...
696                10 Years  Channing Tatum, Rosario Dawson, Chris Pratt, J...
776                      31  Malcolm McDowell, Richard Brake, Jeff Daniel P...
804                    1408  John Cusack, Samuel L. Jackson, Mary McCormack...
817               127 Hours  James Franco, Amber Tamblyn, Kate Mara, Sean Bott
849                      42  Chadwick Boseman, T.R. Knight, Harrison Ford,N...
850                      21  Jim Sturgess, Kate Bosworth, Kevin Spacey, Aar...
875          28 Weeks Later  Jeremy Renner, Rose Byrne, Robert Carlyle, Har...
889                   50/50  Joseph Gordon-Levitt, Seth Rogen, Anna Kendric...
891              This Is 40  Paul Rudd, Leslie Mann, Maude Apatow, Iris Apatow
922                17 Again  Zac Efron, Matthew Perry, Leslie Mann, Thomas ...

In [31]:
df[df['Title'].str.contains(r'\d{2}$', case=False)]

          Title                                             Actors
39    5- 25- 77  John Francis Daley, Austin Pendleton, Colleen ...
113         300  Gerard Butler, Lena Headey, David Wenham, Domi...
472        2012  John Cusack, Thandie Newton, Chiwetel Ejiofor,...
508    Movie 43  Emma Stone, Stephen Merchant, Richard Gere, Li...
671    Child 44  Tom Hardy, Gary Oldman, Noomi Rapace, Joel Kin...
776          31  Malcolm McDowell, Richard Brake, Jeff Daniel P...
804        1408  John Cusack, Samuel L. Jackson, Mary McCormack...
849          42  Chadwick Boseman, T.R. Knight, Harrison Ford,N...
850          21  Jim Sturgess, Kate Bosworth, Kevin Spacey, Aar...
889       50/50  Joseph Gordon-Levitt, Seth Rogen, Anna Kendric...
891  This Is 40  Paul Rudd, Leslie Mann, Maude Apatow, Iris Apatow

In [32]:
df[df['Title'].str.contains(r'(3|iii|three)$', case=False)]

,Title,Actors
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
379,The Expendables 3,"Sylvester Stallone, Jason Statham, Jet Li, Ant..."
496,Men in Black 3,"Will Smith, Tommy Lee Jones, Josh Brolin,Jemai..."
508,Movie 43,"Emma Stone, Stephen Merchant, Richard Gere, Li..."
603,Kung Fu Panda 3,"Jack Black, Bryan Cranston, Dustin Hoffman, An..."
624,Taken 3,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam..."
688,Toy Story 3,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty"
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."

In [33]:
df[df['Title'].str.contains(r'\b(3|iii|three)$', case=False)]

,Title,Actors
279,Iron Man Three,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow..."
344,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, Topher Grace, Th..."
379,The Expendables 3,"Sylvester Stallone, Jason Statham, Jet Li, Ant..."
496,Men in Black 3,"Will Smith, Tommy Lee Jones, Josh Brolin,Jemai..."
603,Kung Fu Panda 3,"Jack Black, Bryan Cranston, Dustin Hoffman, An..."
624,Taken 3,"Liam Neeson, Forest Whitaker, Maggie Grace,Fam..."
688,Toy Story 3,"Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty"
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."

In [34]:
df[(df['Title'].str.contains('iron|avenger', case=False)) & (df['Actors'].str.contains('chris', case=False))]

,Title,Actors
76,The Avengers,"Robert Downey Jr., Chris Evans, Scarlett Johan..."
94,Avengers: Age of Ultron,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."
195,Captain America: The First Avenger,"Chris Evans, Hugo Weaving, Samuel L. Jackson,H..."

## AND with lookahead ?=

In [35]:
df[df['Actors'].str.contains('.*Downey.*Evans', case=False)]

                      Title                                             Actors
76             The Avengers  Robert Downey Jr., Chris Evans, Scarlett Johan...
94  Avengers: Age of Ultron  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...

In [36]:
df[df['Actors'].str.contains('.*Evans.*Downey', case=False)]

,Title,Actors
35,Captain America: Civil War,"Chris Evans, Robert Downey Jr.,Scarlett Johans..."

In [37]:
df[df['Actors'].str.contains('(.*Evans.*Downey)|(.*Downey.*Evans)', case=False)]

,Title,Actors
35,Captain America: Civil War,"Chris Evans, Robert Downey Jr.,Scarlett Johans..."
76,The Avengers,"Robert Downey Jr., Chris Evans, Scarlett Johan..."
94,Avengers: Age of Ultron,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

In [38]:
df[df['Actors'].str.contains('(?=.*Downey)(?=.*Evans)', case=False)]

,Title,Actors
35,Captain America: Civil War,"Chris Evans, Robert Downey Jr.,Scarlett Johans..."
76,The Avengers,"Robert Downey Jr., Chris Evans, Scarlett Johan..."
94,Avengers: Age of Ultron,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

In [39]:
df[df['Actors'].str.contains('(?=.*Evans)(?=.*Downey)', case=False)]

,Title,Actors
35,Captain America: Civil War,"Chris Evans, Robert Downey Jr.,Scarlett Johans..."
76,The Avengers,"Robert Downey Jr., Chris Evans, Scarlett Johan..."
94,Avengers: Age of Ultron,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."

## quantifiers
```
- *, ?, +
- a* -> a{0,}
- a+ -> a{1,}
- a? -> a{0,1}
```

In [40]:
df[df['Title'].str.contains(r'i*', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [41]:
df[df['Title'].str.contains(r'i{0,}', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [42]:
df[df['Title'].str.contains(r'i?', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [43]:
df[df['Title'].str.contains(r'i{0,1}', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
1,Prometheus,"Noomi Rapace, Logan Marshall-Green, Michael Fa..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
...,...,...
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
997,Step Up 2: The Streets,"Robert Hoffman, Briana Evigan, Cassie Ventura,..."
998,Search Party,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [44]:
df[df['Title'].str.contains(r'i+', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
7,Mindhorn,"Essie Davis, Andrea Riseborough, Julian Barrat..."
...,...,...
992,Take Me Home Tonight,"Topher Grace, Anna Faris, Dan Fogler, Teresa P..."
993,Resident Evil: Afterlife,"Milla Jovovich, Ali Larter, Wentworth Miller,K..."
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [45]:
df[df['Title'].str.contains(r'i{1,}', case=False)]

,Title,Actors
0,Guardians of the Galaxy,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S..."
2,Split,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar..."
3,Sing,"Matthew McConaughey,Reese Witherspoon, Seth Ma..."
4,Suicide Squad,"Will Smith, Jared Leto, Margot Robbie, Viola D..."
7,Mindhorn,"Essie Davis, Andrea Riseborough, Julian Barrat..."
...,...,...
992,Take Me Home Tonight,"Topher Grace, Anna Faris, Dan Fogler, Teresa P..."
993,Resident Evil: Afterlife,"Milla Jovovich, Ali Larter, Wentworth Miller,K..."
995,Secret in Their Eyes,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."
999,Nine Lives,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch..."

In [46]:
df[df['Title'].str.contains(r'i{2,}', case=False)]

,Title,Actors
50,Star Wars: Episode VII - The Force Awakens,"Daisy Ridley, John Boyega, Oscar Isaac, Domhna..."
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
693,Pompeii,"Kit Harington, Emily Browning, Kiefer Sutherla..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."

In [47]:
df[df['Title'].str.contains(r'\bi{2,}', case=False)]

,Title,Actors
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
869,Mission: Impossible III,"Tom Cruise, Michelle Monaghan, Ving Rhames, Ph..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."

In [48]:
df[df['Title'].str.contains(r'\bi{2}\b', case=False)]

,Title,Actors
206,Raw (II),"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."
609,Hellboy II: The Golden Army,"Ron Perlman, Selma Blair, Doug Jones, John Ale..."
720,Nymphomaniac: Vol. II,"Charlotte Gainsbourg, Stellan Skarsgård, Wille..."
996,Hostel: Part II,"Lauren German, Heather Matarazzo, Bijou Philli..."